*.anim eol=lf
*.asset eol=lf
*.controller eol=lf
*.mat eol=lf
*.meta eol=lf
*.physicsMaterial eol=lf
*.physicsMaterial2D eol=lf
*.prefab eol=lf
*.unity eol=lf
ProjectVersion.txt eol=lf
Packages/manifest.json eol=lf